@import 'tailwindcss';

@font-face {
  font-family: 'Liga DM Mono';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/LIGADMMONOLIGHT-LIGHT.TTF);
}

@font-face {
  font-family: 'Liga DM Mono';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/LIGADMMONO-REGULAR.TTF);
}

@font-face {
  font-family: 'Liga DM Mono';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/LIGADMMONOMEDIUM-MEDIUM.TTF);
}

@font-face {
  font-family: 'Liga DM Mono';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/LIGADMMONO-ITALIC.TTF);
}

body {
  color: #525252;
  letter-spacing: -1px;
  font-family: 'Liga DM Mono', 'DM Mono', Consolas, monospace, sans-serif;
  font-size: 1.1rem;
}

.grid-center {
  place-content: center;
  place-items: center;
}

.background {
  background: linear-gradient(to bottom right, #ffffff, #f6f6f6),
    radial-gradient(#00000015, #f1f1f1);
}

@theme {
  --spacing: 12.5px;
  --duration: 200ms;
  --animate-fade-in: fade-in var(--duration) backwards;
  --animate-expand: expand calc(var(--duration) * 1.25) backwards;
  --animate-expand-in: expand-in calc(var(--duration) * 1.25) backwards;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
  }

  @keyframes expand {
    from {
      scale: 0.8;
    }
  }

  @keyframes expand-in {
    from {
      opacity: 0;
      scale: 0.75;
      translate: 0 20px;
    }
  }
}
